<div class="login-container">
    <h1 class='login-h1'>Login and go!
    </h1>
    <form class='form-login' [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" >
        <p class='login-p'>
          <label>Login<br/>
          <input type="text" id="firstname" name="firstname" formControlName="firstname" required></label>
        </p>
     
        <p class='login-p'>
          <label>Password<br/>
          <input type="password" id="password" name="password" formControlName="password" required></label>
        </p>
     
        <p class='login-p'>
            <button class='common-button' type='submit' [disabled]="!reactiveForm.valid">Submit</button>
        </p>
     
      </form>
</div>




