<div class="login-score">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login"
               required
               [(ngModel)]="model.login" name="login" />
    </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text"  class="form-control" id="password"
               [(ngModel)]="model.password" name="password">
      </div>
      
      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control"  id="power"
                required
                [(ngModel)]="model.power" name="power">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
      </div>
</div>

