main {
    margin: 2% 10%;
}
main h1 {
    text-align: center;
}
div.container {
    display: grid;
    grid-template-columns: 5px 300px auto 5px;
    grid-template-rows: auto;
}
section.item-a {
    grid-column: 2;
    grid-row: auto;
}
section.item-b {
    grid-column: 3;
    grid-row: auto;
}
article {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8em;
}
article:first-child {
    border-top: 1px solid white;
}
article button {
    margin: 5% 0;
}
button {
    cursor: pointer;
    align-self: center;
}
section.item-a article {
    border: 0;
    font-size: 1em;
}


