h1 {
    text-align: center;
}
@media(min-width:0){
    div.score-container {
        margin: 2% 5%;
    }


    .score-section.item-a {
        position: relative;
    }
    .score-section.item-a::before {
        content:'';
        position: absolute;
        width: 20%;
        height: 100%;
        z-index: -1;
        background-color: yellow;
        border-left: 3px solid black;
    }
    .score-table {
        width: 100%;
        text-align: center;
    }
    .score-table tr {
        padding: 2% 0;
    }


    .score-section.item-b {
        margin-top: 4%;
    }
    .score-article {
        display: flex;
        align-items: center;
    }
    .score-article.item-a {
        justify-content: space-between;
        border-top: 1px solid grey;
        position: relative;
    }
    .score-article.item-a:first-child {
        border: 0px;
    }
    .score-article.item-a button.common-button {
        border: 2px solid black;
        padding: 1%;
    }
    .score-article.item-b {
        justify-content: space-evenly;
    }
}
@media(min-width: 500px) {
    .score-article.item-a {
        font-size: 1.5em;
    }
    .score-article.item-a  button.common-button {
        border: 2px solid black;
        padding: 2%;
    }
}
@media(min-width:1000px) {

    div.score-container {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 200px auto;
        margin: 2% 10%;
    }


    .score-section.item-a {
        grid-column: 1;
        grid-row: 1;
    }
    .score-section.item-a::before {
        width: 50%;
        height: 50%;
    }
    .score-table {
        width: 100%;
        text-align: center;
    }


    .score-section.item-b {
        grid-column: 2;
        grid-row: 1 / 2;
        margin: 0 10%;
    }

    .score-article.item-a {
        justify-content: space-evenly;
        border-top: 0;
        font-size: 1em;
    }
    .score-article.item-a:hover {
        background-color: yellow;
    }

    .score-article.item-a button.common-button{
        border: 2px solid black;
        padding: 5px;
    }
    .score-article.item-a button.common-button:hover{
        background-color: white;
        padding: 10px;
    }
    article.score-article.item-b{
        margin: 3% 0;
    }
    .score-article.item-b button.common-button {
        padding: 5px;
        width: 100px;
    }
}