<div *ngIf='scoresLength !== undefined && scoresLength > 0; else noresult' class="score-container">

    <section class='score-section item-a'>
        <table class='score-table'>
            <tr>
                <td>Best: </td>
                <td style='color:green'>{{scoreBest}}</td>
            </tr>
            <tr>
                <td>Worst: </td>
                <td style='color:red'>{{scoreWorst}}</td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td>{{scoresLength}}</td>
            </tr>
        </table>
    </section>

    <section class='score-section item-b'>
        
        <article  class='score-article item-a'
            *ngFor='let item of scoresAll | slice:amountElementsOfSide:amountElementsOfSide+5
            ; index as i;'>
            <p>{{i+1+amountElementsOfSide}}.</p>
            <p>{{this.stopwatch.timer(item.name)}}</p>
            <button class='remove-button'(click)='delElementScore(item.id)'>Remove</button>
        </article>

        <article class='score-article item-b'>
            <button class='common-button'
                *ngIf='amountElementsOfSide > 4' (click)='amountElementsOfSide = amountElementsOfSide - 5'>
                Previous</button>
            <button class='common-button' *ngIf='scoresLength > amountElementsOfSide + 5' 
                (click)='amountElementsOfSide = amountElementsOfSide + 5'>Next</button>
        </article>
    </section>
</div>

<ng-template #noresult><h1 #noresult>NO RESULTS!</h1></ng-template>
