h1 {
    text-align: center;
}
div.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 200px auto;
    margin: 2% 10%;
}


article {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8em;
}
article:first-child {
    border-top: 1px solid white;
}
article:last-child {
    border-top: 1px solid white;
}
article button {
    margin: 5% 0;
}
button {
    cursor: pointer;
    align-self: center;
}


section.item-a {
    grid-column: 1;
    grid-row: 1;
    position: relative;
}
section.item-a::before {
    content: '';
    position: absolute;
    left: -30px;
    bottom: -30px;
    width: 220px;
    height: 200px;
    background-color: yellow;
    z-index: -1;
}
section.item-a table {
    width: 100%;
    text-align: center;
}
section.item-a td {
    padding: 10px;
}

section.item-b {
    grid-column: 2;
    grid-row: 1 / 2;
}


