@media(min-width: 0) {
    .app-nav {
        background-color: grey;
        padding: 2%;
        display: flex;
        justify-content:space-between;
    }
    .app-a {
        color: black;
        width: 80px;
        padding: 4% 0;
        text-decoration: unset;
        background-color: #fff;
        border-radius: 10px;
        border: 3px solid black;
        font-size: 1.2em;
        transition: background-color 1s;
        text-align: center;
    }
    .app-a:visited {
        color: unset;
    }
    .app-a:hover {
        background-color: yellow;
        border: 3px solid black;
    }
    .app-a.active {
        background-color: yellow;
    }
}
@media(min-width: 500px) {
    .app-nav {
        justify-content: space-evenly;
    }
    .app-a {
        padding: 5px 0;
        width: 150px;  
    }
}

