<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{username | titlecase}}</h5>
            <p class="card-text">Hello on this site you can check your results</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">solves -> {{yourAmountOfTimes}}</li>
            <li class="list-group-item">best -> {{yourBestTime}}</li>
            <li class="list-group-item">worst -> {{yourWorstTime}}</li>
        </ul>
        <div class="card-body div_button">
            <button type="button" class="btn btn-danger"
            (click)='logout()'>Logout</button>
        </div>
    </div>
</div>