section {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
}
.stopped {
    color: yellow;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
@media(min-width: 500px){
    h1 {
        font-size: 4em;
    }
}